.weather-page {
  text-align: center;
  width: 100vw;
  max-height: 100vh;
  font-family: "Inter";
  background-repeat: no-repeat;
  color: white;
  /* position: relative; */
}

.bg-video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  bottom: 50%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  font-size: 3rem;
  position: absolute;
  color: white;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .weather-page {
    display: flex;
  }
  .forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
  }
}
