.searchPage-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: #eef778;
  background: linear-gradient(90deg, #1d2d50 1.18%, #1e5f74 100%);
  position: relative;
  /* padding-bottom: 3rem; */
}

.form {
  padding-bottom: 3rem;
}
.searchPage-header {
  font-family: "Inter";
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5;
  margin-bottom: 4rem;
}
.current-date {
  margin-top: -0.6rem;
  margin-bottom: 4.5rem;
  font-size: 14px !important;
  font-weight: 300 !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-date,
.list-item,
.searchbar,
.searchbar::placeholder {
  font-family: "Inter";
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: #eef778;
}

.searchbar {
  width: 18.75rem;
  height: 3rem;
  background-color: transparent;
  border-bottom: 1px solid #eef778 !important;
  border-style: none;
}

.searchbar::placeholder {
  font-weight: 300;
}

.search-button {
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 0.9rem;
  outline: none;
  transition: all 0.25s;
  border: 2px solid #eef778;
  cursor: pointer;
  background-color: #eef778;
  color: #4b7be5;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 900;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
button:hover {
  border: 2.5px solid #eef778;

  cursor: pointer;
  transform: translateY(-0.25em);
}
.list-item {
  margin-top: 1rem;
  border-bottom: 1px solid #eef778;
  padding: 0.3rem;
  margin-left: none;
}
.list-item:hover {
  font-weight: 500;
  cursor: pointer;
}
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 3rem;
  background-color: #fbd2d3;
  color: #da676b;
  border: 1px solid #e47377;
  border-radius: 0.6rem;
  margin-top: 0.6rem;
}

@media (min-width: 768px) {
  .searchPage-body {
    min-height: 100vh;
  }
}
