.searchPage-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #eef778;
  background-color: #4b7be5;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.searchPage-header {
  font-family: "Inter";
  font-weight: 200;
  font-size: 2rem;
  line-height: 2.5;
}
.current-date {
  margin-top: -10px;
  margin-bottom: 70px;
  font-size: 14px !important;
}
.current-date,
.list-item,
.searchbar {
  font-family: "Inter";
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  color: #eef778;
}

.list-item {
  margin-top: 1rem;
  border-bottom: 1px solid #eef778;
  padding: 5px;
  margin-left: none;
}
.list-item:hover {
  font-weight: 300;
}

.searchbar {
  width: 300px;
  height: 50px;
  background-color: transparent;
  border-bottom: 1px solid #eef778 !important;
  border-style: none;
}

.searchbar::placeholder {
  color: #eef778;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 300;
}
.searchbar:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  border-style: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-button {
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  transition: all 0.25s;
  border: 1.5px solid #eef778;
  color: #eef778;
  background: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.search-button:hover {
  border: 2.5px solid #eef778;
  cursor: pointer;
  transform: translateY(-0.25em);
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: #fbd2d3;
  color: #e47377;
  border: 1px solid #e47377;
  border-radius: 10px;
  margin-top: 10px;
}
