.horizontal-scroll {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-top: 4rem;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.item-icon {
  width: 4.5rem;
  height: 3rem;
  object-fit: cover;
}
.item-time {
  font-size: 0.7rem;
}

.title {
  display: none;
}

@media (min-width: 768px) {
  /* .horizontal-scroll {
    grid-area: 1 / 2 / 2 / 3;
    width: 60vw;
    border: 2px solid black;
  }
  .title {
    display: contents;
    letter-spacing: 2px;
  }
  .item-icon {
    width: 5rem;
    height: 3.5rem;
    object-fit: cover;
  }
  .item-time {
    font-size: 1rem;
  } */
  .horizontal-scroll {
    width: 60vw;
    /* border: 2px solid black; */
    height: 17vh;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-top: 1rem;
  }
  .title {
    display: contents;
    letter-spacing: 2px;
  }
}
