.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  border-radius: 1.6rem;
  transition: all 0.5s ease;
  margin-right: 0.5rem;
}

.fab {
  color: #eef778;
}

.social-button:hover,
.social-button:focus {
  font-size: 1.8rem;
}
