.horizontal-scroll {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.item-icon {
  width: 70px;
  height: 50px;
  object-fit: cover;
}
.item-time {
  font-size: 0.7rem;
}
