.horizontal-scroll {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-top: 4rem;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.item-icon {
  width: 4.5rem;
  height: 3rem;
  object-fit: cover;
}
.item-time {
  font-size: 0.7rem;
}

.title {
  display: none;
}

@media (min-width: 768px) {
  .hourly-weather-container {
    grid-area: 1 / 3 / 3 / 6;
  }
  .item-time {
    font-size: 1rem;
  }

  .item-icon {
    width: 5rem;
    height: 3.5rem;
    object-fit: cover;
  }
  .title {
    display: contents;
    letter-spacing: 2px;
    margin-top: 2rem;
  }
}
