@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,500;1,400;1,500&display=swap");
@import url("https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html,
body {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
