* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header-city {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  padding: 2rem;
}
.header-weather {
  letter-spacing: 1.5px;
  font-weight: 500;
}

.header-temperature {
  font-size: 1rem;
  font-weight: 300;
}

.header-icon {
  width: 10rem;
  height: 10rem;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    font-size: 2.5rem;
  }
  .header-icon {
    margin-left: auto;
    margin-right: auto;
  }
  .header-city {
    font-size: 2rem;
  }
}
